body {
    background-color: red;
}

td {
    padding: 0;
    border: 1;
}

#button {
    text-align: center;
}

th {
    text-align: center;
}

.card-body {
    width: auto;
}



#highlight {
    background-color: yellow;
}


