

td {
    padding: 0;
    border: 1;
}

#button {
    text-align: center;
}

th {
    text-align: center;
}

.card-body {
    width: auto;
}


#highlight {
    background-color: yellow;
}


.header {
    height: 22px;
    background-color: #2aabd2;
    padding: 30px;
    margin: -8px;
}

.header strong {
    font-size: 1.3rem;
}

.header input {
    border-radius: 5px;
    height: 17px;
    border-style: solid;
    border-color: #2aabd2;
}

.header button {
    border-radius: 5px;
    border-style: solid;
    border-color: #2aabd2;
    height: 23px;
    background-color: white;
}

.login {
    text-align: center;
}

.registration {
    text-align: center;
}

a:visited {
    color: blue;
}

img {
    height: 177px;
    margin-right: 10px;
}

#user_info td {
    text-align: center;
}

#answer-to-question {
    margin-left: 70px;
}

h4 {
    margin-left: 70px;
}

#multiCollapseExampleanswer {
    margin-top: -15px;
}

#type {
    text-align: center;
}

td#invalid-message {
    text-align: center;
    font-weight: bold;
}

td#answers {
    padding: 5px;
}

td#questions {
    padding: 5px;
    height: 2em;
}

a:visited {
    color: blue;
}