

td {
    padding: 0;
    border: 1;
}

#button {
    text-align: center;
}

th {
    text-align: center;
}

.card-body {
    width: auto;
}


#highlight {
    background-color: yellow;
}


.header {
    height: 22px;
    background-color: #2aabd2;
    padding: 30px;
    margin: -8px;
}

.header strong {
    font-size: 1.3rem;
}

.header input {
    border-radius: 5px;
    height: 17px;
    border-style: solid;
    border-color: #2aabd2;
}

.header button {
    border-radius: 5px;
    border-style: solid;
    border-color: #2aabd2;
    height: 23px;
    background-color: white;
}

.login {
    text-align: center;
}

.registration {
    text-align: center;
}

a:visited {
    color: blue;
}