{% if session %}
    {% if answer.user_id == user_id %}
        <td>
            <form action="/answer/{{ answer.id }}/edit" align="center"
                  method="get">
                <button type="submit" style="width:80px; height:25px">
                    <strong>Edit</strong>
                </button>
            </form>
        </td>
        <td>
            <form action="/answer/{{ answer.id }}/delete" align="center" method="post">
                <button type="submit" style="width:80px; height:25px">
                    <strong>Delete</strong>
                </button>
            </form>
        </td>
        <td>
            <form action="/answer/{{ answer.id }}/new-comment" align="center"
                  method="get">
                <button type="submit" style="width:120px; height:25px">
                    <strong style="color:white;">Post Comment</strong>
                </button>
            </form>
        </td>
        <td>
            <div id="button" class="bootstrap-iso">
                <button type="button" align="center" data-toggle="collapse"
                        data-target="#multiCollapseExample{{ answer.id }}"
                        aria-expanded="false"
                        aria-controls="multiCollapseExample{{ answer.id }}"
                        style="margin:10px; width:110px; height:25px"><strong>
                    See Comments
                </strong></button>
            </div>
        </td>
        </tr>
    {% elif answer.user_id != user_id %}
        <td id="invalid-message">
            Can't edit.
        </td>
        <td id="invalid-message">
            Can't delete.
        </td>
        <td>
            <form action="/answer/{{ answer.id }}/new-comment" align="center"
                  method="get">
                <button type="submit" style="width:120px; height:25px">
                    <strong style="color:white;">Post Comment</strong>
                </button>
            </form>
        </td>
        <td>
            <div id="button" class="bootstrap-iso">
                <button type="button" align="center" data-toggle="collapse"
                        data-target="#multiCollapseExample{{ answer.id }}"
                        aria-expanded="false"
                        aria-controls="multiCollapseExample{{ answer.id }}"
                        style="margin:10px; width:110px; height:25px"><strong>
                    See Comments
                </strong></button>
            </div>
        </td>
        </tr>
    {% endif %}
{% endif %}
{% if not session %}
    <td id="invalid-message">
        Can't edit other user's answer.
    </td>
    <td id="invalid-message">
        Can't delete other user's answer.
    </td>
    <td id="invalid-message">
        Log in to comment.
    </td>
    <td>
        <div id="button" class="bootstrap-iso">
            <button type="button" align="center" data-toggle="collapse"
                    data-target="#multiCollapseExample{{ answer.id }}"
                    aria-expanded="false"
                    aria-controls="multiCollapseExample{{ answer.id }}"
                    style="margin:10px; width:110px; height:25px"><strong>
                See Comments
            </strong></button>
        </div>
    </td>
    </tr>
{% endif %}
