<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate: PandaProject</title>
</head>
<body>
{% if session["username"] %}
Your a logged in as {{ session["username"] }}
{% else %}
You are not logged in
{% endif %}
<h1>Latest questions:</h1>
<form action="{{ url_for('search') }}">
    <input type="text" placeholder="Search..." name="q">
    <button type="submit" style="margin:10px; width:70px; height:25px"><strong>GO!</strong></button></form><br>
<table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
    <thead>
    <tr>
        {% for item in question_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if latest_questions %}
            {% for question in latest_questions %}
                <tr>
                    {% for key, value in question.items() %}
                        {% if key != 'id' and key != 'image' %}
                            {% if key == 'message' %}
                                <td align="center"><a href="question/{{ question.id }}">{{ value }}</a></td>
                            {% else %}
                                <td align="center">{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br><br>
<form action="/list"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:150px; height:25px"><strong>See all the questions</strong></button></span>
</form>
<form action="/add-question"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:130px; height:25px"><strong>Ask a Question</strong></button></span>
</form>
</body>
</html>




