<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate: PandaProject</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-iso.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
{% include 'header.html' %}
<h1 style="color:white;">Latest questions:</h1>
<table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
    <thead>
    <tr>
    <th>User</th>
        {% for item in question_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if latest_questions %}
            {% for question in latest_questions %}
                <tr>
                    {% for key, value in question.items() %}
                        {% if key != 'id' and key != 'image' and key!= 'user_id' %}
                            {% if key == 'message' %}
                                <td align="center"><a href="question/{{ question.id }}">{{ value }}</a></td>
                            {% else %}
                                <td align="center">{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br><br>
<form action="/list"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:150px; height:25px"><strong>See all the questions</strong></button></span>
</form>
{%  if session %}
<form action="/add-question"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:130px; height:25px"><strong>Ask a Question</strong></button></span>
</form>
{% endif %}
</body>
</html>




