<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All the questions:</h1>
<form action="{{ url_for('search') }}">
    <input type="text" placeholder="Search..." name="q"
    <button type="submit" style="margin:10px; width:70px; height:25px"><strong>GO!</strong></button></form><br>
<table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
<table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
    <thead>
    <tr>
        {% for item in question_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if all_question %}
            {% for question in all_question %}
                <tr>
                    {% for key, value in question.items() %}
                        {% if key != 'id' and key != 'image' and key!= 'user_id' %}
                            {% if key == 'message' %}
                                <td align="center"><a href="question/{{ question.id }}">{{ value }}</a></td>
                            {% else %}
                                <td align="center">{{ value }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br><br>
<form action="/add-question"><span style="float:left;">
    <button type="submit" style="margin:10px; width:130px; height:25px"><strong>Ask a Question</strong></button></span>
</form>
<form action="/"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:180px; height:25px"><strong>Go Back to Homepage</strong></button></span>
</form>
</body>
</html>