<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-iso.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
{% include 'header.html' %}
<h1 align="center">PandaProject AskMate</h1>
{% if no_match %}
    <script>alert('Invalid Username or Password Bruh!')</script>
{% endif %}
<div class="login">
    <form action='/' method="post">
        <h2>Login</h2>
        <p><input type="text" id="username-input" name="username" placeholder="username" required minlength="5"></p>
        <p><input type="password" id="password-input" name="password" placeholder="password" required minlength="5"></p>
        <button id="login" type="submit">Login</button>
    </form>
    <b><p style="color:white;">Dont have an acoount? <a href="/registration" style="color:red;">Sign up!</a></p></b>
    <b><p style="color:white;">See the latest <a href="/latest-questions" style="color:red;"> questions.</a></p></b>
    <b><p style="color:white;">Check the <a href="/users" style="color:red;"> Users!</a></p></b>
</div>
</body>
</html>