<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Question:</h1>
<table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
    <thead>
    <tr>
        {% for item in question_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if questions %}
            {% for question in questions %}
                {% if quest_id == question.id %}
                    <tr>
                        {% for key, value in question.items() %}
                            {% if key != 'id' and key != 'image' %}
                                <td align="center">{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                    </table>
                    <br>
                    <form action="/question/{{ question.id }}/new-answer"><span style="float:left;">
        <button type="submit"
                style="margin: 10px; width:130px; height:25px"><strong>Add new answer</strong></button></span>
                    </form>

                    <form action="/question/{{ question.id }}/edit"><span style="float:left;">
        <button type="submit"
                style="margin:10px; width:130px; height:25px"><strong>Edit Question</strong></button></span>
                    </form>
                    <form action="/question/{{ question.id }}/delete" method="post"><span style="float:left;">
        <button type="submit"
                style="margin:10px; width:130px; height:25px"><strong>Delete Question</strong></button></span>
                    </form>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
<br>
{% if is_answer %}
    <h1>Answers:</h1>
    <table border="2" cellpadding="5" cellspacing="" width="1200" style="border-collapse:collapse;">
        <thead>
        <tr>
            {% for item in answer_headers %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if all_answer %}
                {% for answer in all_answer %}
                    {% if quest_id == answer.question_id %}
                        <tr>
                            {% for key, value in answer.items() %}
                                {% if key != 'id' and key != 'image' and key != 'question_id' %}
                                    <td align="center">{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <form action="/answer/{{ answer.id }}/delete" align="center" method="post">
                                    <button type="submit" style="width:80px; height:25px"><strong>Delete</strong>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% else %}
    <h1>Answers: </h1>
    <h2>There are no answers to this questions yet.</h2>
{% endif %}
<br><br>
<form action="/list" >
    <button type="submit" style="width:180px; height:25px"><strong>Go back to homepage</strong></button>
</form>
</body>
</html>