<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<h1 align="center">PandaProject AskMate</h1>
{% if existing_username %}
<script>alert("Username already exist")</script>
{% endif %}
<div class="registration">
    <form action='/registration' method="post">
        <h2>Registration</h2>
        <p><input type="text"  name="firstname" placeholder="first name" required minlength="5"></p>
        <p><input type="text" name="lastname" placeholder="last name" required minlength="5"></p>
        <p><input type="text" name="username" placeholder="username" required minlength="5"></p>
        <p><input type="password" name="password" placeholder="password" required minlength="5"></p>
        <button id="login" type="submit">Register</button>
        </form>
    <b><p style="color:white;">Already have an account? <a href="/" style="color:red;">Log in!</a></p></b>
    <b><p style="color:white;">See the latest <a href="/latest-questions" style="color:red;"> questions.</a></p></b>
</div>
</body>
</html>