<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<h1 style="color:white;">AskMate Pandas:</h1>
<table class="user-table">
    <thead>
    <tr>
        {% for item in user_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% if users %}
        {% for user in users %}
            <tr>
                {% for key, value in user.items() %}
                    <td align="center">{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br><br>
<form action="/"> <span style="float:left;">
    <button type="submit" style="margin:10px; width:180px; height:25px"><strong>Go Back to Homepage</strong></button></span>
</form>
</body>
</html>